footer.footer
    .container
        .footer-copyright
            span.copyright-text Lorem ipsum dolor
        .footer-report
            a(href="#").report cообщить об ошибке
        .footer__links
            a.footer__link(href="")
                img(src="img/icon/pinterest.svg", alt="media")
            a.footer__link(href="")
                img(src="img/icon/instagram.svg", alt="media")      
            a.footer__link(href="")
                img(src="img/icon/telegram.svg", alt="media")
            a.footer__link(href="")
                img(src="img/icon/whatsapp.svg", alt="media")
